# --- User Specific Ignores ---

# Ignore filtered RDS data
data/regression_data.csv
data/raw_hex/raw_hex*
data/port_list.rds
data/port_list_2.rds
data/filtered/filtered_*
data/archived/filtered_*
files/db_password.R
donotinclude.R
*.pdf
process_4_archive_to_postgreSQL.R
# Ignore sensitive API keys (AIS)
ais_api_key.R

# --- System & R Files ---

# History and workspace files
.Rhistory
.RData
.Ruserdata


# macOS system files
.DS_Store

# --- Standard R Project Ignores ---

# RStudio files
.Rproj.user/

# Package development files
/.build/
/.libPaths/

# Folders for generated data/logs (Optional but recommended)
*.log
.Rapp.history